<header class="container-fill-height text-center">
  <div class="container-content-middle ">
  <div class="container-narrow">
    <h1 class="text-head">Learn to code by cloning popular 
startups like twitter, airbnb and more</h1>
    <h2><small>Join our community and become a web developer within months </small></h2>
    <button type="button" class="btn btn-lg btn-primary">SIGN UP</button>
  </div>
  </div>
  
</header>